<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- appSettings网站信息配置-->
  <appSettings>

    <!--上传图片路径(IIS绝对路径)，可调整其他文件夹-->
    <add key="AbsolutePath" value="D:\wwwroot\suiexue" />
    <!--网站根目录-->
    <!--<add key="WebPath" value="http://wx.51suiyixue.com" />
    <add key="WechatDomain" value="http://wx.51suiyixue.com"/>-->
    <add key="WebPath" value="http://192.168.1.118:8004" />
    <add key="WechatDomain" value="http://192.168.1.118:8004" />
    <add key="Configpath" value="~/xmlconfig/site.config" />
    <add key="Urlspath" value="~/xmlconfig/urls.config" />
    <add key="Userpath" value="~/xmlconfig/user.config" />
    <add key="Orderpath" value="~/xmlconfig/order.config" />
    <!--(短信)测试状态 true 测试 flase 正式  -->
    <add key="ceshi" value="flase" />
    <!--(支付)测试状态 true 测试 flase 正式  -->
    <!--<add key="pay_ceshi" value="true" />-->
    <!--极光推送-->
    <!--<add key="ApiKey" value="06eedd110c1e175efb9d28a1" />
    <add key="APIMasterSecret" value="de4cb7daf26542ca4f0bc374" />-->
    <!--环信IM s-->
    <!--<add key="HXAppName" value="duojiao" />
    <add key="HXOrgName" value="yibingding" />
    <add key="HXAppClientId" value="YXA6kbyCwFF6EeeTM4X09t7cTg" />
    <add key="HXAppClientSecret" value="YXA62YvP7Hvzr5J0LJyn4akGFwh0dmM" />-->
    <!--环信IM e-->
    <!--安装包下载页面地址 s-->
    <!--<add key="DownLoadURL_Android" value="http://www.baidu.com" />
    <add key="DownLoadURL_IOS" value="http://www.baidu.com" />-->
    <!--视频截取缩略图工具路径-->
    <add key="FFmpegPath" value="/files/ffmpeg/ffmpeg.exe" />
    <!--微信配置信息-->
    <add key="WechatAppID" value="wx43df194cdc1113d9" />
    <add key="WechatAppSecret" value="69570241a4db228cd84b46edac0b2a5e" />
  </appSettings>
  <!-- 数据库连接字符串-->
  <connectionStrings>
    <!--<add name="ConnectionString" connectionString="server=123.57.74.204,5774;uid=suiexue_sa;pwd=suiexue@~188188; database=ybd_sui_e_xue;" />-->
    <add name="ConnectionString" connectionString="server=.;uid=sa;pwd=sa; database=ybd_sui_e_xue;" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <customErrors mode="Off" />
    <!--<httpModules>
      <add type="Appoa.Manage.UI.HttpModule, Appoa.Manage.UI" name="HttpModule" />
    </httpModules>
    <httpHandlers>
      <add verb="*" path="templates/main/*.html" type="System.Web.HttpForbiddenHandler" />
    </httpHandlers>-->
    <!-- 文件上传大小KB-->
    <webServices>
      <protocols>
        <add name="HttpSoap" />
        <add name="HttpPost" />
        <add name="HttpGet" />
        <add name="Documentation" />
      </protocols>
    </webServices>
    <httpRuntime requestValidationMode="2.0" maxRequestLength="512000" executionTimeout="3600" />
    <identity impersonate="false" />
    <authentication mode="Windows" />
  </system.web>

  <system.webServer>
    <!--<validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add type="Appoa.Manage.UI.HttpModule, Appoa.Manage.UI" name="HttpModule" />
    </modules>-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="512000000" />
      </requestFiltering>
    </security>
    <staticContent>
      <mimeMap fileExtension=".vtt" mimeType="text/vtt" />
      <mimeMap fileExtension=".obj" mimeType="text/html" />
    </staticContent>
  </system.webServer>

</configuration>

