<?xml version="1.0"?>
<siteconfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <webname>乙丙丁管理平台</webname>
  <weburl>http://www.appoa.cn</weburl>
  <webcompany>郑州乙丙丁软件科技有限公司</webcompany>
  <webaddress>郑州市中原区西三环电厂路国家大学科技园东区12号楼502-503</webaddress>
  <webtel>037156628350</webtel>
  <webfax>037156628350</webfax>
  <webmail>appoa521@163.com</webmail>
  <webcrod>豫ICP备：12013033号</webcrod>
  <webpath>/</webpath>
  <webmanagepath>admin</webmanagepath>
  <webhjmanagepath>hj</webhjmanagepath>
  <staticstatus>1</staticstatus>
  <staticextension>html</staticextension>
  <memberstatus>1</memberstatus>
  <commentstatus>0</commentstatus>
  <logstatus>1</logstatus>
  <webstatus>1</webstatus>
  <webclosereason>网站正在维护中，请稍候访问……</webclosereason>
  <webcountcode>系统统计代码</webcountcode>
  <minutescountdown>5</minutescountdown>
  <apppublicstatus>0</apppublicstatus>
  <smsapiurl>http://sms.dtcms.net/httpapi/</smsapiurl>
  <smsusername>appoa</smsusername>
  <smspassword>e10adc3949ba59abbe56e057f20f883e</smspassword>
  <emailsmtp>smtp.qq.com</emailsmtp>
  <emailssl>1</emailssl>
  <emailport>25</emailport>
  <emailfrom>1326541948@qq.com</emailfrom>
  <emailusername>1326541948@qq.com</emailusername>
  <emailpassword>50C215BB3B599960</emailpassword>
  <emailnickname>乙丙丁-阴</emailnickname>
  <filepath>upload</filepath>
  <filesave>2</filesave>
  <fileextension>gif,jpg,png,bmp,rar,zip,doc,xls,txt,apk</fileextension>
  <videoextension>flv,mp3,mp4,avi</videoextension>
  <attachsize>51200</attachsize>
  <videosize>102400</videosize>
  <imgsize>10240</imgsize>
  <imgmaxheight>1080</imgmaxheight>
  <imgmaxwidth>1920</imgmaxwidth>
  <thumbnailheight>180</thumbnailheight>
  <thumbnailwidth>320</thumbnailwidth>
  <watermarktype>2</watermarktype>
  <watermarkposition>9</watermarkposition>
  <watermarkimgquality>80</watermarkimgquality>
  <watermarkpic>watermark.png</watermarkpic>
  <watermarktransparency>5</watermarktransparency>
  <watermarktext>乙丙丁软件科技有限公司</watermarktext>
  <watermarkfont>Tahoma</watermarkfont>
  <watermarkfontsize>12</watermarkfontsize>
  <sysdatabaseprefix>dt_</sysdatabaseprefix>
  <sysencryptstring>YBDcms</sysencryptstring>
</siteconfig>